*{
BOX-SIZING:BORDER-BOX;
}
BODY{
FONT-FAMILY:CAMBRIA;
PADDING:10PX;
BACKGROUND:CREAM;
}

/*HEADER/BLOG TITLE*/
.HEADER{
PADDING:25PX;
TEXT-ALIGN:CENTER;
BACKGROUND:YELLOW;
}
.HEADER H1{
FONT-SIZE:80PX;
}
/*STYLE THE TOP NAVIGATION BAR*/
.TOPNAV{
OVERFLOW:HIDDEN;
BACKGROUND-COLOR:GREY;
}
/*STYLE THE TOPNAV LINKS*/
.TOPNAV A{
FLOAT:LEFT;
DISPLAY:BLOCK;
COLOR:AQUA;
TEXT-ALIGN:CENTER;
PADDING:14PX 16PX;
TEXT-DECORATION:Cambria Math;
}
/* CHANGE COLOR ON HOVER*/
.TOPNAV A:HOVER{
BACKGROUND-COLOR:#DDD;
COLOR:BLACK;
}
/*CREATE TWO UNEQUAL COLUMNS THAT FLOATS NEXT TO EACH OTHER */
/*LEFT COLUMN*/
.LEFTCOLUMN{
FLOAT:LEFT;
WIDTH:75%;
}
/* RIGHT COLUMN*/
.RIGHTCOLUMN{
FLOAT:LEFT;
WIDTH:25%;
BACKGROUND-COLOR:#F1F1F1;
PADDING-LEFT:20PX;
}
DIV:GALLERY{
BORDER:1PX SOLID #CCC;
}
DIV:GALLERY:HOVER{
BORDER:1PX SOLID #777;
}
DIV.GALLERY IMG{
WIDTH:25%;
}
/*IMAGE*/
.IMG1{
BACKGROUND-COLOR:#AAA;
WIDTH:20%;
PADDING:100PX;
}
/*ADD  A CARD EFFECT FOR ARTICLES*/
.CARD{
BACKGROUND-COLOR:PINK;
PADDING:20PX;
MARGIN-TOP:20PX;
}
/*CLEAR FLOATS AFTER THE COLUMNS*/
.ROW:AFTER{
CONTENT:"";
DISPLAY:TABLE;
CLEAR:BOTH;
}
/*FOOTER*/
.FOOTER{
PADDING:20PX;
DISPLAY: BLOCK;
TEXT-ALIGN: LEFT;
BACKGROUND: #DDD;
MARGIN-TOP: 20PX;
}
/*RESPONSIVE LAYOUT- WHEN THE SCREEN IS LESS THAN 800PX WIDE,
MAKE THE TWO COLUMNS STACK ON TOP OF EACH OTHER INSTEAD OF NEXT
TO EACH OTHER */
@MEDIA SCREEN AND (MAX-WIDTH:800PX){
.LEFTCOLUMN, .RIGHTCOLUMN{
WIDTH:100%;
PADDING:0;
}
}
/*RESPONSIVE LAYOUT-WHEN THE SCREEN IS LESS 
THEN 400PX WIDE,
MAKE THE NAVIGATION LINKS STACK ON TOP OF EACH 
OTHER INSTEAD
OF NEXT TO EACH OTHER*/
@MEDIA SCREEN AND(MAX-WIDTH:400PX){
.TOPNAV A {
FLOAT:NONE;
WIDTH:100%;
}
}
